$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


.interface-container {
    margin: 40px auto;
    width: 50%;
    height: 100px;
    vertical-align: top;
    border: 1px solid transparent;

    & ul {
        list-style: none;
        display: inline-block;
        margin: 0;
        margin-left: 5px;
        padding: 0;
        vertical-align: top;
        & li {
            display: none;
        } 
    }

    .dice-selector {
        display: inline-block;
        vertical-align: top;
    }

    & select {
        margin-left: 7px;
    }
}
.dice-display-container {
    height: 400px;
    width: 400px;
    background: #C8C8C8;
    margin: 25px auto;
    display: block;
    position: relative;
    vertical-align: top;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 400px;
    text-shadow: 0 1px 1px darken(white, 25%);
}


button {
    margin: 10px auto;
    width: 200px;
    display: block;
}

.button-container {
    height: 80px;
    width: 220px;
    margin: 10px auto;
    border: 1px solid transparent;
}

.rollButton {
    display: none;
}
.hideButton {
    display: block;
}

.youRolled {
    margin: 0 auto 50px;
    height: 100px;
    width: 90%;
    background: #ffb864;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    text-shadow: 0 1px 1px darken(white, 25%);
}

.multiple-dice1 {
    -webkit-transform:scale(.5,.5);
    right: 25%;
    top: -25%;
}

.multiple-dice2 {
    -webkit-transform:scale(.5,.5);
    left: 25%;
    bottom: -20%;
}

.multiple-dice3 {
    -webkit-transform:scale(.5,.5);
    right: 25%;
    top: 20%
}

.multiple-dice4 {
    -webkit-transform:scale(.5,.5);
    left: 25%;
    top: -25%

}

.multiple-dice5 {
    -webkit-transform:scale(.5,.5);
}



///////////////////////////////////////////////
// 6 Sider ////////////////////////////////////
///////////////////////////////////////////////

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
.tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
  // display: none;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 100%;
  height: 100%;
  margin: -1.5em 0 0 .4em; 
  -webkit-transform:rotateX(-37deg) 
                    rotateY(-18deg); 
     -moz-transform:rotateX(-37deg) 
                    rotateY(-18deg); 
      -ms-transform:rotateX(-37deg) 
                    rotateY(-18deg); 
          transform:rotateX(-37deg) 
                    rotateY(-18deg); 
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
  text-align: center;
  line-height: 4em;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-1 .ft {
  transform:translateZ(2em);
}
.cub-1 .bk {
  transform:translateZ(-2em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:4em;
  height:4em;
}
.cub-1 .tp, .cub-1 .bm {
  width:4em;
  height:4em;
}
.cub-1 .face {
  background-color:#ffb864;
}



///////////////////////////////////////////////
// 8 Sider ////////////////////////////////////
///////////////////////////////////////////////

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 

.tridiv2 {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
  // display: none;
}
.face2 {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .4);
}
.scene2, .shape2, .face2, .face-wrapper2, .cr2 {
  position: absolute;
  transform-style: preserve-3d;
}
.scene2 {
  width: 100%;
  height: 100%;
  margin: -2.5em 0 0 .5em;
  -webkit-transform:rotateX(-6deg) 
                    rotateY(4deg)
                    rotateZ(0deg); 
     -moz-transform:rotateX(-6deg) 
                    rotateY(4deg); 
      -ms-transform:rotateX(-6deg) 
                    rotateY(4deg); 
          transform:rotateX(-6deg) 
                    rotateY(4deg); 
}
.shape2 {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face2, .face-wrapper2 {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face2 {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper2 .face2 {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side2 {
  left: 50%;
}
.cr2, .cr2 .side2 {
  height: 100%;
}
[class*="pyramid"] .face-wrapper2 .face2 {
  transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%);
}
[class*="pyramid"] .bk2 {
  left: 100%;
}
[class*="pyramid"] .bm2 {
  top: 100%;
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="pyramid"] .rt2, [class*="pyramid"] .lt2 {
  transform-origin: 50% 0;
}
/* .pyr-1 styles */
.pyr-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:8em;
  height:7em;
  margin:-3.5em 0 0 -4em;
}
.pyr-1 .face-wrapper2 {
  width:8em;
  height:4em;
}
.pyr-1 .face-wrapper2 .face2 {
  width:8em;
  height:8em;
}
.pyr-1 .ft2 {
  transform:scaleZ(2.0155644370746373) scaleY(2.0155644370746373) rotateX(29.744881296942214deg);
}
.pyr-1 .bk2 {
  transform:scaleZ(2.0155644370746373) scaleY(2.0155644370746373) rotateX(-29.744881296942214deg) rotateY(180deg);
}
.pyr-1 .rt2 {
  transform:scaleX(2.0155644370746373) scaleY(2.0155644370746373) rotateZ(29.744881296942214deg) rotateY(-90deg);
}
.pyr-1 .lt2 {
  transform:scaleX(2.0155644370746373) scaleY(2.0155644370746373) rotateZ(-29.744881296942214deg) rotateY(90deg);
}
.pyr-1 .bm2 {
  width:8em;
  height:8em;
}
.pyr-1 .face2 {
  background-color:#ffb864;
}
/* .pyr-2 styles */
.pyr-2 {
  transform:translate3D(0em, 7em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  opacity:1;
  width:8em;
  height:7em;
  margin:-3.5em 0 0 -4em;
}
.pyr-2 .face-wrapper2 {
  width:8em;
  height:4em;
}
.pyr-2 .face-wrapper2 .face2 {
  width:8em;
  height:8em;
}
.pyr-2 .ft2 {
  transform:scaleZ(2.0155644370746373) scaleY(2.0155644370746373) rotateX(29.744881296942214deg);
}
.pyr-2 .bk2 {
  transform:scaleZ(2.0155644370746373) scaleY(2.0155644370746373) rotateX(-29.744881296942214deg) rotateY(180deg);
}
.pyr-2 .rt2 {
  transform:scaleX(2.0155644370746373) scaleY(2.0155644370746373) rotateZ(29.744881296942214deg) rotateY(-90deg);
}
.pyr-2 .lt2 {
  transform:scaleX(2.0155644370746373) scaleY(2.0155644370746373) rotateZ(-29.744881296942214deg) rotateY(90deg);
}
.pyr-2 .bm2 {
  width:8em;
  height:8em;
}
.pyr-2 .face2 {
  background-color:#ffb864;
}


.face2 {
    text-align: center;
    position: relative;

    & .pyr-number {
        position: absolute;
        top: -89%;
        left: 20%;
        -webkit-transform: rotateZ(-44deg);
    }

    & .pyr-number2 {
        position: absolute;
        top: -91%;
        left: 19%;
        -webkit-transform: rotateZ(-49deg);
    }
}


// .scene2:hover {
//     transition: all 4s linear;
//     -webkit-transform:rotateX(-904deg) 
//                       rotateY(1245deg)
//                       rotateZ(-503deg);
// }
    